<section class="container not-found">
  <h1> Error 404</h1>
  <%= image_tag 'emoticon.png' %>
  <span>Lo sentimos no hemos encontrado la página que buscabas. Retorna a nuestra <a href="/">página principal.</a></span>
</section>