<section class="container thanks-subscribe">
  <span>Gracias por suscribirte!</span>
  <p>Si es la primera vez que te registras a nuestra lista de contactos, revisa tu correo. Te estaremos enviando un correo de confirmación</p>
  <a href="/home"><button>Regresa a la página principal y sigue navegando</button></a>
</section>