<% if post.live? %>
  <%= link_to refinery.blog_post_path(post), :class => "posts" do %>
    <article class="blog_post" id="<%= dom_id(post) %>">
      <h4 class="title"><%= post.title %></h4>
      <%= post.custom_teaser.html_safe %>
    </article>
  <% end %>
<% end %>
