footer {
  background-color: $black;
  color: $light-gray;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 16px;
  overflow: hidden;
  padding: 75px 0;
  a:hover { color: white; }
  .social-links {
    border-bottom: 1px solid #837F7F;
    font-size: 22px;
    padding-bottom: 75px;
    li {
      margin-bottom: 0;
      margin-right: 18px;
      &:hover {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transition: all .2s;
      }
    }
    li { 
      border: 1px solid $light-gray;
      padding: 10px;
      width: 40px;
      height: 40px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: $black;
      position: relative;
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  a { color: $light-gray; }
  .right {
    @include span-columns(3);
    margin-right: 80px;
    margin: 0 auto;
    ul {
      padding-left: 80px;
      margin: 0;
    }
  }
  .center {
    @include span-columns(6);
    text-align: center;
    ul { margin: 0 0 50px; }
    li {
      display: inline-block;
      list-style-type: none;
      &:last-child { margin-right: 0; }
    }
    .contact li { margin-right: 50px; }
    .contact i { margin-right: 10px; }
    p:last-child { margin-bottom:0; }
    .copyright {
      margin-bottom: 0;
      li:first-child { display: inline-block; }
    }
  }
  .left {
    @include span-columns(3);
    text-align: center;
  }
}
.fb_iframe_widget { 
  display: block !important;
  margin-bottom: 10px;
  margin-left: 80px !important;
  margin-top: 70px;
}
#twitter-widget-0 {
  margin-left: 80px !important;
}