header {
  z-index: 20;
  .logo {
    height: 40px;
    margin-top: 50px;
  }
  .language {
    float: right;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding-top: 10px;
    li {
      border-right: 1px solid $black;
      box-sizing: content-box;
      display: inline-block;
      list-style-type: none;
      padding: 0 10px;
      &:last-child {
        border: none;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
  .right { float: right; }
  nav {
    clear: right;
    float: right;
    margin-top: 15px;
    position: relative;
  }
  .button-responsive { display: none; }
  #navigation-menu {
    font-size: .9em;
    line-height: 25px;
    margin: 0;
    text-align: center;
    li {
      display: inline-block;
      font-size: 1em;
      margin-bottom: 0;
      margin-right: 30px;
      text-align: center;
      &:last-child { margin-right: 0; }
    }
    a {
      display: inline-block;
      &:hover { color: $orange; }
    }
    .collection {
      cursor: pointer;
      position: relative;
      .fa {
        padding-left: 10px;
        vertical-align: top;
      }
    }
    #collection {
      position: absolute;
      z-index: 1;
      display: none;
      opacity: 0;
      padding-top: 23px;
      margin-left: -45px;
      background-color: white;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      li {
        display: block;
        margin-right: 0;
        padding: 8px 50px;
        text-align: left;
      }
    }
    .hide { display: none; }
    .collection:hover {
      #collection {
        opacity: 0.9;
      }
    }
    .suscribe {
      background-color: white;
      border-radius: 10px;
      border: 2px solid $light-gray;
      color: $black;
      cursor: pointer;
      font-family: Dekar;
      font-size: 1em;
      height: auto;
      line-height: 25px;
      padding: 5px 10px;
      width: auto;
      &:hover { color: $orange; }
    }
  }
  .nav-responsive {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    margin-top: 0;
    background-color: $black;
    display: none;
    height: 100%;
    z-index: 75;
    #navigation-menu {
      display: block;
      a { color: white; }
    }
  }
}

.sticky {
  border-top: 3px solid $orange;
  box-shadow: 2px 2px 5px $light-gray;
  padding-bottom: 15px;
}
.fixed {
  background-color: white;
  left:0;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 70;
  ul.language { display: none; }
  .logo { margin-top: 15px; }
}
.fixed.sticky { padding-bottom: 10px; }
//div subscribe
.dropdown-caret, .caret-outer, .caret-inner { position: absolute; }
.dropdown-caret {
  float: right;
  height: 10px;
  overflow: hidden;
  right: 36px;
  top: -10px;
  width: 18px;
}
.caret-outer {
  border-bottom: 10px solid #8899a6;
  border-bottom-color: rgba(0,0,0,0.1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: inline-block;
  height: auto;
  left: 0;
  margin-left: -2px;
  top: 0;
  width: auto;
}
.caret-inner {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-bottom-color: rgba(255,255,255,0.98);
  left: 2px;
  margin-left: -2px;
  top: 2px;
}
.header-register {
  background-color: white;
  border: 2px solid $light-gray;
  box-shadow: 1px 2px 2px $light-gray;
  display: none;
  float: right;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 47px;
  z-index: 2;
  input[type="submit"] {
    background-color: $orange;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: Lato;
    font-size: 16px;
    margin-top: 10px;
    outline: 0;
    padding: 5px 15px;
  }
  input, input[type="submit"] {
    height: 35px;
    width: 250px;
  }
  input {
    font-size: 18px;
    outline: 0;
    padding: 10px;
  }
}
