@media screen and (max-width: 1240px) {
  header .container { padding: 0 20px; }
  section.container { padding: 75px 20px; }
}
@media screen and (max-width: 1024px) {
  header #navigation-menu li { margin-right: 20px; }
  .subscription .left input { width: 100%; }
  .categories article, .products article {
    .container-overlay, a, .overlay, img { width: 100%; }
  }
  .register {
    form {
      overflow: hidden;
      input { @include span-columns(4); }
      input[type="submit"] { width: 31.76157%; }
    }
  }
  .product-description {
    .left {
      margin-right: 2%;
      width: 49%;
    }
    .right {
      width: 49%;
      img { width: 100%; }
    }
  }
  .maps article img { width: 100%; }
  footer {
    .center .contact li { margin-right: 20px;}
  }
}

@media screen and (max-width: 768px) {
  header {
    .container { overflow: hidden; }
    .button-responsive {
      display: block;
      height: 40px;
      width: 50px;
      float: right;
    }
    #navigation-menu {
      display: none;
      li {
        width: 100%;
        text-align: right;
        &:last-child { display: none; }
      }
    }
  }
  section.container { padding: 30px 20px; }
  .products {
    .filter ul {
      margin: 19px auto 0;
      width: 90%;
      li { margin-right: 0; }
    }
    div article {
      width: 30%;
      margin-right: 5%;
      &:nth-child(2n+4) { margin-right: 5%; }
      &:nth-child(3n+3) { margin-right: 0; }
    }
  }
  section div.container { padding: 75px 20px; }
  .categories article {
    width: 47%;
    margin-right: 6%;
  }
  .team article .horizontal-center { width: 100%; }
  .process .container article {
    width: 49%;
    margin-right: 2%;
    &:nth-child(2n+1) { margin-right: 0; }
    &:nth-child(2n+1):after { display: none; }
  }
  .register form {
    input {
      width: 48%;
      margin-right: 4%;
      &:nth-child(2n) { margin-right: 0; }
    }
    input[type="submit"] {
      width: 48%;
      margin: 0 26%;
    }
  }
  .product-description {
    .left, .right { width: 100%; }
    .left .status, .right { margin-top: 30px; }
    .more-images img {
      margin: 0 2% 15px 0;
      width: 49%;
      &:nth-child(2n) { margin-right: 0; }
    }
  }
  footer {
    padding: 30px 20px;
    .left img { width: 100%; }
    .center {
      ul { margin-bottom: 25px; }
      .contact {
        padding-left: 0;
        li {
          margin-right: 0;
          width: 100%;
        }
      }
      .social-links {
        overflow: hidden;
        padding: 0 0 20px;
        li {
          margin-right: 3%;
          margin-bottom: 20px;
          width: 26%;
          &:nth-child(3n) { margin-right: 0; }
        }
      }
      .copyright {
        padding: 0;
        li:first-child {
          width: 100%;
          border-right: none;
        }
      }
      p { margin-top: 0; }
    }
    .right ul {
      padding-left: 0;
      float: right;
    }
  }
}

@media screen and (max-width: 480px) {
  header nav {
    width: 50%;
    margin-top: -45px;
  }
  .category { width: 90%; }
  .category>img { width: 100%; }
  .team article, .news .post {
    width: 100%;
    margin-bottom: 20px;
    &:last-child { margin-bottom: 0; }
  }
  .products div article {
    width: 100%;
    margin-right: 0;
    &:nth-child(2n+4) { margin-right: 0; }
    &:nth-child(3n+3) { margin-right: 0 }
  }
  .process article:after {
    height: 22%;
    width: 44%;
  }
  .process button { width: 90%;}
  .register form {
    input, input[type="submit"] {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      &:nth-child(2n) { margin-right: 0; }
    }
  }
  .product-description {
    .left .status article {
      width: 100%;
      &:last-child { margin-top: 20px; }
    }
    .more-images img { height: 120px; }
  }
  footer {
    .left {
      width: 25%;
      margin: 0 37.5% 20px;
    }
    .center {
      width: 100%;
      margin-right: 0;
      .contact li{
        display: none;
        &:last-child { display: block; }
      }
    }
    .right { display: none; }
  }
}
