@media screen and (max-width: 1024px) {
  header {
    .container { padding: 0 20px; }
    #navigation-menu li { margin-right: 20px; }
  }
  section.container { padding: 75px 20px; }
  .subscription .left input { width: 100%; }
  footer {
    .center .contact li { margin-right: 20px;}
  }
}

@media screen and (max-width: 768px) {
  header {
    .button-responsive {
      display: block;
      height: 40px;
      width: 50px;
      float: right;
    }
    #navigation-menu {
      display: none;
      li {
        width: 100%;
        text-align: right;
        &:last-child { display: none; }
      }
    }
  }
  .main { height: auto; }
  .products {
    div article {
      width: 30%;
      margin-right: 5%;
      &:nth-child(2n+4) { margin-right: 5%; }
      &:nth-child(3n+3) { margin-right: 0; }
    }
  }
  section div.container { padding: 75px 20px; }
  .categories article {
    width: 47%;
    margin-right: 6%;
    .container-overlay, a, .overlay, img { width: 100%; }
  }
  .team article .horizontal-center { width: 100%; }
  footer {
    padding: 30px 20px;
    .center {
      ul { margin-bottom: 25px; }
      .contact {
        padding-left: 0;
        li {
          margin-right: 0;
          width: 100%;
        }
      }
      .social-links {
        padding-bottom: 20px;
        li {
          margin-right: 50px;
          margin-bottom: 20px;
        }
      }
    }
    .copyright {
      padding: 0;
    }
  }
}

@media screen and (max-width: 480px) {

}
